$gradient1: linear-gradient(to right, #FFC200, #EBAA00, #D99900);
$gradient2: linear-gradient(to right, #71A9F7, #6A8BF7, #625EF7);
$gradient3: linear-gradient(to right, #C56CD6, #B347D3);
$gradient4: linear-gradient(to right, #13CE66, #1AEB8B);
$gradient5: linear-gradient(to right, #F79F79, #FFC8A5, #FFEBD3);
$gradient6: linear-gradient(to right, #FC466B, #3F5EFB);
$gradient7: linear-gradient(to right, #FBC2EB, #A18CD1);
$gradient8: linear-gradient(to right, #2E3192, #1BFFFF);
$gradient9: linear-gradient(to right, #E21B5A, #9C1DE7);
$gradient10: linear-gradient(to right, #F3E5F5, #7C3AED);
$gradient11: linear-gradient(to right, #FD6E6A, #FFC600, #7B64FF);
$gradient12: linear-gradient(to right, #E100FF, #4C00FF, #0032FF);
$gradient13: linear-gradient(to right, #83a4d4, #b6fbff);
$gradient14: linear-gradient(to right, #29D9C2, #00C7FF, #00B4FF);
$gradient15: linear-gradient(to right, #B24592, #F15F79, #FFA751);



@keyframes gradyanArka {
    0% {
        background-color: $gradient1;
    }

    20% {
        background-color: $gradient2;
    }

    40% {
        background-color: $gradient3;
    }

    60% {
        background-color: $gradient4;
    }

    80% {
        background-color: $gradient5;
    }

    100% {
        background-color: $gradient6;
    }
}

.ornek {
    animation: gradyanArka 10s ease infinite;
}