$gradient1: linear-gradient(to right, #FFC300, #FF5733);
$gradient2: linear-gradient(to right, #4DA0B0, #D39D38);
$gradient3: linear-gradient(to right, #1D4350, #A43931);
$gradient4: linear-gradient(to right, #8E2DE2, #4A00E0);
$gradient5: linear-gradient(to right, #F5CBA7, #5D8AA8);
$gradient6: linear-gradient(to right, #642B73, #C6426E);
$gradient7: linear-gradient(to right, #FBB034, #FFDD00);
$gradient8: linear-gradient(to right, #FF6B6B, #556270);
$gradient9: linear-gradient(to right, #667eea, #764ba2, #6b8cce);
$gradient10: linear-gradient(to right, #00c6ff, #0072ff);
$gradient11: linear-gradient(to right, #e52d27, #b31217);
$gradient12: linear-gradient(to right, #ff0084, #33001b);
$gradient13: linear-gradient(to right, #fc5c7d, #6a82fb);
$gradient14: linear-gradient(to right, #2c3e50, #bdc3c7);
$gradient15: linear-gradient(to right, #f8ff00, #3ad59f, #1a2980);



@keyframes gradyanKenar {
    0% {
        border-color: $gradient1;
    }

    25% {
        border-color: $gradient2;
    }

    50% {
        border-color: $gradient3;
    }

    75% {
        border-color: $gradient4;
    }

    100% {
        border-color: $gradient5;
    }
}

.ornek {
    border: 5px solid transparent;
    border-radius: 50%;
    animation: gradyanKenar 5s ease-in-out infinite alternate;
}