$rsp-sm: 576px;
$rsp-md: 768px;
$rsp-lg: 992px;
$rsp-xlg: 1200px;

@mixin responsive($rsp) {
    @media (min-width: $rsp) {
        @content;
    }
}


@mixin icerik(){
    display: flex;
    align-items: center;
    flex-direction: column;
}



// Örnek Kullanım
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include responsive($rsp-md) {
        flex-wrap: nowrap;
    }
}
.card {
    padding: 1rem;

    @include responsive($rsp-sm) {
        padding: 2rem;
    }

    @include responsive($rsp-md) {
        padding: 3rem;
    }

    @include responsive($rsp-lg) {
        padding: 4rem;
    }
}