$primary-color: #ff2e63;
$secondary-color: #3c40c6;
$tertiary-color: #0fbcf9;
$success-color: #05c46b;
$info-color: #00d8d6;
$warning-color: #ffa801;
$danger-color: #ff3f34;
$light-color: #f6f7f8;
$dark-color: #1e272e;
$gray-color: #a4b0be;
$white-color: #ffffff;
$black-color: #000000;
$accent-1: #ff9ff3;
$accent-2: #706fd3;
$accent-3: #ff6b6b;
$accent-4: #1dd1a1;
$accent-5: #ffbe76;
$accent-6: #576574;
$accent-7: #34e7e4;
$accent-8: #ffb8b8;