// Light Colors
$lightest-gray: #F8F9FA;
$light-gray: #CED4DA;
$medium-gray: #6C757D;
$dark-gray: #343A40;

// Accent Colors
$primary-color: #007BFF;
$secondary-color: #6C757D;
$success-color: #28A745;
$info-color: #17A2B8;
$warning-color: #FFC107;
$danger-color: #DC3545;

// Dark Colors
$darkest-gray: #212529;
$dark-primary-color: darken($primary-color, 10%);
$dark-secondary-color: darken($secondary-color, 10%);
$dark-success-color: darken($success-color, 10%);
$dark-info-color: darken($info-color, 10%);
$dark-warning-color: darken($warning-color, 10%);
$dark-danger-color: darken($danger-color, 10%);

// Gradient Colors
$gradient-1: linear-gradient(to bottom right, #FF9A9E, #FEB692);
$gradient-2: linear-gradient(to bottom right, #8C50FF, #F55C9E);
$gradient-3: linear-gradient(to bottom right, #16BFFD, #CB3066);

// Text Colors
$light-text-color: #FFFFFF;
$dark-text-color: #212529;

// Border Colors
$light-border-color: #CED4DA;
$dark-border-color: #6C757D;
